.idea/
logs/app.log
source/build/
source/components/finance-app/build/
logs/
source/components/finance-app/bin/
source/components/finance-ux/node_modules/
source/components/finance-ux/.pnp
source/components/finance-ux/coverage
source/components/finance-ux/build
source/components/finance-app/src/main/resources/static/
source/distribution/
source/components/finance-integ-test/build
.metadata/.lock
source/.gradle/file-system.probe
source/.gradle/9.4.1/gc.properties
source/.gradle/9.4.1/checksums/checksums.lock
source/.gradle/9.4.1/checksums/md5-checksums.bin
source/.gradle/9.4.1/checksums/sha1-checksums.bin
source/.gradle/9.4.1/executionHistory/executionHistory.bin
source/.gradle/9.4.1/executionHistory/executionHistory.lock
source/.gradle/9.4.1/expanded/expanded.lock
source/.gradle/9.4.1/fileChanges/last-build.bin
source/.gradle/9.4.1/fileHashes/fileHashes.bin
source/.gradle/9.4.1/fileHashes/fileHashes.lock
source/.gradle/9.4.1/fileHashes/resourceHashesCache.bin
source/.gradle/buildOutputCleanup/buildOutputCleanup.lock
source/.gradle/buildOutputCleanup/cache.properties
source/.gradle/buildOutputCleanup/outputFiles.bin
source/.gradle/vcs-1/gc.properties
